.home-container{
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
    margin-top: -6rem;
}
.home-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2)0% , rgba(0,0,0,0.6)100%),
    linear-gradient(180deg , rgba(0,0,0,0.2) 0%,transparent 100%  );
    z-index: 2;
}
.background-div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-div{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
}
.home-content{
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 9px 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top: 145px;
}
.home-content h2 strong{
    color: #01bf71;
}
.homeHeading{
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 34vw;
}
.homeParagraph{
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}
.homeImg{
    height: 300px;
    border-radius: 50%;
}
@media screen and (max-width:1000px) {
    .homeHeading{
        width: 50vw;
    }
}
@media screen and (max-width:768px) {
    .homeHeading{
        font-size: 37px;
        margin-left: 4rem;
        width: auto;
    }
    .homeParagraph{
        font-size: 24px;
    }
    .home-container{
        max-height: auto;
    }
}
@media screen and (max-width:550px) {
    .home-container{
        max-height: auto;
    }
    .home-content{
        top: 145px;
    }
    .homeHeading{
        font-size: 32px;
        margin-left: 1rem;
        text-align: center;
        width: auto;
    }
    .homeParagraph{
        font-size: 18px;
    }
    .homeImg{
        height: 250px;
        width: 250px;
    }
}