.blogs-container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 100vh;
    align-items: center;
}
.blog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
}
.blogsLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 9vw;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #01bf71;
    transition: all 0.6s ease;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.blogsLink{
    color: white;
    text-decoration: none;
}
.blogsLink:hover{
    background-color: #008d52;
}
.blog-content h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.blog-content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.blog-content div{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.blog-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 20vw;
    height: 30vh;
    color: black;
    border: 1px solid black;
    margin-left: 2rem;
}
.blog-img img{
    height: 400px;
}
@media screen and (max-width:800px) {
    .blog-img img{
        height: 310px;
        margin-left: 1rem;
    }
    .blogs-container{
        padding: 2rem;
    }
    .blogsLink{
        height: 6vh;
        width: auto;
        padding: 0.7rem;
    }
    
}
@media screen and (max-width:650px) {
    .blogs-container{
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }
    .blog-img img{
        height: 320px;
    }
    .blog-content h2{
        font-size: 1.9rem;
    }
    .blogsLink{
        margin-bottom: 2rem;
    }
    .blog-content{
        width: auto;
        padding: 2rem;
    }
}
@media screen and (max-width:500px) {
    .blogs-container{
        flex-direction: column;
        height: auto;
        padding: 2rem;
    }
    .blog-img img{
        height: 310px;
    }
    .blog-content{
        width: auto;
        padding: 1rem;
    }
    .blog-content h2{
        text-align: center;
        font-size: 1.9rem;
    }
    .blogsLink{
        margin-bottom: 2rem;
    }
    .blog-content p{
        font-size: 1.2rem;
        text-align: center;
        width: auto;
    }
}