.social-links ul{
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    color: white;
}
.social-links ul li{
    margin-left: 1.3rem;
}
.social-links ul li :Link{
    color: white;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #000;
    color: white;
}