.social-links ul{
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    color: white;
    margin-right: 2rem;
}
.social-links ul li{
    margin-left: 2rem;
}
.social-links ul li a{
    color: white;
}
.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    background-color: #000;
    color: white;
}
.name{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}