.nav{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: black;
}
.pageLink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    color: white;
    text-decoration: none;
    height: 5vh;
    width: 12vw;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #01bf71;
    transition: all 0.6s ease;
}
.pageLink:hover{
    background-color: #008d52;
}
.blogs-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.blog-card{
    background: #fff;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 30px;
    height: 50vh;
    box-shadow: 0 1px 3px gray;
    transition: all 0.2s ease-in-out;
    max-width: auto;
    margin: 2rem;
    color: black;
    border: none;
}
.blog-card:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 5px gray;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.all-blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height:90vh;
    max-height: auto;
    margin-bottom: 2rem;
}
.blog-img img{
    height: 180px;
    width: 305px;
}
.blog-name{
    text-align: center;
    font-size: 1.5rem;
    color: #01bf71;
    font-weight: 600;
}
.blog-des{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.button{
    height: 5vh;
    width: 6vw;
    background-color: #01bf71;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 1rem;
}
.button:hover{
    background-color: #008d52;
}
.button a{
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width:1250px) {
    .pageLink{
        width: auto;
        padding: 1rem;
    }
    .blog-img img{
        height: 180px;
        width: 248px;
    }
    .blog-card{
        height: auto;
        width: 30vw;
    }
    .all-blogs{
        height: auto;
    }
}
@media screen and (max-width:850px) {
    .blog-card{
        width: 35vw;
    }
    .blog-link{
        width: auto;
        padding: 1rem;
    }
    .button {
        width: auto;
        padding: 1rem;
    }
    .all-blogs{
        height: auto;
    }
}
@media screen and (max-width:800px) {
    .blog-card{
        width: min-content;
        padding: 1rem;
    }
    .pageLink{
        margin-left: 1rem;
    }
    .all-blogs{
        height: auto;
    }
    .blog-img img {
        height: 200px;
        width: 280px;
    }
}