.project-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 100vh;
    align-items: center;
    
  
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 20vw;
    height: 30vh;
    color: white;
    border: 1px solid black;
    margin-left: 2rem;
}
.project-content{
    color: white;
    width: 35vw;
}
.project-content h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.project-content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.project-content div{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 9vw;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #01bf71;
    transition: all 0.6s ease;
    text-decoration: none;
}

.link:hover{
    background-color: #008d52;
}
.img{
    background-color: white;
    height: 470px;
    width: 470px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container img{
    height: 270px;
    width: 355px;
    background-color: white;
}
.projects{
    display: flex;

}
@media screen and (max-width:1000px) {
    .link{
        width: auto;
        padding: 0.7rem;
    }
}
@media screen and (max-width:800px) {
    .project-container{
        max-height: auto;
    }
    .project-content{
        width: auto;
    }
    .img{
        height: 450px;
        width: 490px;
        margin-right: 1rem;
    }
    .project-container img{
        height: 380px;
        width: 420px;
        padding: 1rem;
    }
}
@media screen and (max-width:650px) {
    .project-container{
        max-height: auto;
        flex-direction: column-reverse;
        width: auto;
        padding: 4rem;
    }
    .project-content{
        width: auto;
        margin-bottom: 2rem;
    }
    .img{
        height: 390px;
        width: 430px;
        
    }
    .project-container img{
        height: 320px;
        width: 350px;
        padding: 1rem;
    }
}
@media screen and (max-width:500px) {
    .project-container{
        height: auto;
        flex-direction: column-reverse;
    }
    .project-content{
        width: auto;
    }
    .img{
        height: 340px;
        width: 365px;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .link{
        width: fit-content;
    }
    .project-container img{
        height: 280px;
        width: 300px;
        padding: 0;
        margin-left: 1rem;
    }
}