.project-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 100vh;
    align-items: center;
  
}
.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 20vw;
    height: 30vh;
    color: white;
    border: 1px solid black;
    margin-left: 2rem;
}
.project-content{
    color: white;
    width: 35vw;
}
.project-content h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.project-content p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.project-content div{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.project-content button{
    height: 5vh;
    width: 8vw;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #01bf71;
    transition: all 0.6s ease;
}
.project-content button:hover{
    background-color: #008d52;
}
.img{
    background-color: white;
    height: 500px;
    width: 510px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container img{
    height: 400px;
    width: 450px;
    background-color: white;
}
.projects{
    display: flex;

}
@media screen and (max-width:768px) {
    img{
        height: 220px;
    }
}